In [1]:
from scipy.stats import ttest_ind
import scipy.stats as stats
import numpy as np
from math import sqrt
from scipy import stats
from numpy import cov, linspace
from statistics import mean
from numpy.random import normal, exponential
import matplotlib.pyplot as plt
from random import random
%matplotlib inline
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
import datetime as dt

In [2]:
# Задание 3.1
# Импортируйте файл с данными в Jupyter Notebook и расшифруйте идентификаторы городов с помощью листа city_dict

In [3]:
dataset = pd.read_excel('Финальная первичная аттестация. Вариант 1. Python.xlsx', sheet_name = 'Dataset')
city_dict = pd.read_excel('Финальная первичная аттестация. Вариант 1. Python.xlsx', sheet_name = 'city_dict')

In [4]:
data = pd.merge(dataset, city_dict,
                              how='left',                      
         left_on='id_city', right_on='id_city')

In [5]:
data

,id_view,time_view,id_group,id_city,nflag_order,name_city
0,10457162393,2023-01-17 13:56:06.118,0,3,1,Новосибирск
1,10457152884,2023-01-30 17:38:18.629,1,1,1,Москва
2,10457162947,2023-01-07 14:06:22.689,1,1,1,Москва
3,10457197478,2023-01-02 11:02:58.189,0,3,0,Новосибирск
4,10457176480,2023-01-04 22:56:19.240,0,1,1,Москва
...,...,...,...,...,...,...
21934,10457187341,2023-01-07 01:09:40.477,1,1,0,Москва
21935,10457168816,2023-01-21 02:42:09.559,0,1,1,Москва
21936,10457173452,2023-01-13 12:57:11.272,1,1,1,Москва
21937,10457142488,2023-01-24 21:53:01.634,1,8,1,Нижний Новгород
21938,10457171204,2023-01-06 14:06:18.420,1,2,1,Санкт-Петербург

In [6]:
# Задание 3.2
# Рассчитайте результаты АВ-теста и с помощью статистического критерия сделайте вывод

In [7]:
def test_calc (r0, r1, alpha = 0.05):
    s, p = ttest_ind (r0, r1)
    print ('Т-тест: стат.критерий =' ,s )    
    print ('Т-тест: pvalue =' ,p )
    if p > alpha:
        print ('Т-тест: средние значения в выборках равны')
    else:
        print ('Т-тест: средние значения в выборках не равны')

In [8]:
r0 = data[ data ['id_group']==0 ] ['nflag_order']
r1 = data[ data ['id_group']==1 ] ['nflag_order']

In [9]:
test_calc (r0, r1, alpha = 0.05)

Т-тест: стат.критерий = -9.41595134321716
Т-тест: pvalue = 5.1365957325220535e-21
Т-тест: средние значения в выборках не равны

In [10]:
avg0 = data[ data ['id_group']==0 ] ['nflag_order'].mean()
avg0

0.6150932939220395

In [11]:
avg1 = data[ data ['id_group']==1 ] ['nflag_order'].mean()
avg1

0.6757851165301899

In [12]:
# Вывод:
# Среднее nflag_order в тестовой группе (id_group = 1) выше. Титест показал статистическую разницу.
# Новая платежная механика повышает конвертацию в созданный заказ.

In [13]:
# Задание 3.3
# Запустите цикл, который пробежится по всем городам в датасете.
# Выявите те города, в которых есть статистически значимая разница между группами А и В.
# Создайте переменную типа "список", которая будет хранить эти города.

In [14]:
cities_with_different_results = []
alpha = 0.05

for i, j in data.groupby('name_city'):
    s, p = ttest_ind ( j [j ['id_group'] == 0]['nflag_order'], j [j ['id_group'] == 1]['nflag_order'] )
    if p < alpha:
        cities_with_different_results.append (i)
    #print (s, p)
print(cities_with_different_results)

['Казань', 'Москва', 'Санкт-Петербург']

In [15]:
# Проверка:
for i, j in data.groupby('name_city'):
    print (i)
    test_calc (j [j ['id_group'] == 0]['nflag_order'],
               j [j ['id_group'] == 1]['nflag_order'],
               alpha = 0.05)
    print()

Архангельск
Т-тест: стат.критерий = -1.9560899473633129
Т-тест: pvalue = 0.0511754082950276
Т-тест: средние значения в выборках равны

Воронеж
Т-тест: стат.критерий = 0.20003614652111743
Т-тест: pvalue = 0.8415715510394312
Т-тест: средние значения в выборках равны

Казань
Т-тест: стат.критерий = -3.0436700754076127
Т-тест: pvalue = 0.0023855694044274188
Т-тест: средние значения в выборках не равны

Краснодар
Т-тест: стат.критерий = -1.1550266261101212
Т-тест: pvalue = 0.24850395048260338
Т-тест: средние значения в выборках равны

Москва
Т-тест: стат.критерий = -7.410981603370934
Т-тест: pvalue = 1.368947706664987e-13
Т-тест: средние значения в выборках не равны

Нижний Новгород
Т-тест: стат.критерий = -0.08777122371237046
Т-тест: pvalue = 0.9301037909783129
Т-тест: средние значения в выборках равны

Новосибирск
Т-тест: стат.критерий = -1.4827891417672616
Т-тест: pvalue = 0.13822636677161423
Т-тест: средние значения в выборках равны

Санкт-Петербург
Т-тест: стат.критерий = -5.220275988832596
Т-тест: pvalue = 1.8595141124883944e-07
Т-тест: средние значения в выборках не равны

Сочи
Т-тест: стат.критерий = -0.2995466141263717
Т-тест: pvalue = 0.7646178932512717
Т-тест: средние значения в выборках равны

Хабаровск
Т-тест: стат.критерий = -1.4182652201929373
Т-тест: pvalue = 0.156865633792813
Т-тест: средние значения в выборках равны

Челябинск
Т-тест: стат.критерий = -1.3254943845073939
Т-тест: pvalue = 0.18541963354338323
Т-тест: средние значения в выборках равны

In [16]:
# Задание 3.4
# Создайте дополнительную колонку со значением 0 или 1 в зависимости от часа заказа.
# 1 - если час пик (возьмите, например, 7,8,9,10,17,18,19,20), а 0 - все остальные часы.
# Проверьте результат АВ-теста по отдельности на пиковых и не-пиковых заказах и сделайте выводы.

In [17]:
data ['hour'] = pd.to_datetime(data['time_view']).dt.hour

In [18]:
data ['flag_peak_hour'] = np.where (data ['hour'].isin([7, 8, 9, 10, 17, 18, 19, 20]), 1, 0)
data

,id_view,time_view,id_group,id_city,nflag_order,name_city,hour,flag_peak_hour
0,10457162393,2023-01-17 13:56:06.118,0,3,1,Новосибирск,13,0
1,10457152884,2023-01-30 17:38:18.629,1,1,1,Москва,17,1
2,10457162947,2023-01-07 14:06:22.689,1,1,1,Москва,14,0
3,10457197478,2023-01-02 11:02:58.189,0,3,0,Новосибирск,11,0
4,10457176480,2023-01-04 22:56:19.240,0,1,1,Москва,22,0
...,...,...,...,...,...,...,...,...
21934,10457187341,2023-01-07 01:09:40.477,1,1,0,Москва,1,0
21935,10457168816,2023-01-21 02:42:09.559,0,1,1,Москва,2,0
21936,10457173452,2023-01-13 12:57:11.272,1,1,1,Москва,12,0
21937,10457142488,2023-01-24 21:53:01.634,1,8,1,Нижний Новгород,21,0
21938,10457171204,2023-01-06 14:06:18.420,1,2,1,Санкт-Петербург,14,0

In [19]:
# Непиковые часы

r0_0 = data [ (data ['id_group']==0 ) & (data ['flag_peak_hour']==0)]['nflag_order']
r1_0 = data [ (data ['id_group']==1 ) & (data ['flag_peak_hour']==0)]['nflag_order']

In [20]:
test_calc (r0_0, r1_0, alpha = 0.05)

Т-тест: стат.критерий = -6.997243317124079
Т-тест: pvalue = 2.7237344158581742e-12
Т-тест: средние значения в выборках не равны

In [21]:
avg0_0 = data [ (data ['id_group']==0 ) & (data ['flag_peak_hour']==0)]['nflag_order'].mean()
avg0_0

0.6200055111600992

In [22]:
avg1_0 = data [ (data ['id_group']==1 ) & (data ['flag_peak_hour']==0)]['nflag_order'].mean()
avg1_0

0.6751420070327292

In [23]:
# Пиковые часы

r0_1 = data [ (data ['id_group']==0 ) & (data ['flag_peak_hour']==1)]['nflag_order']
r1_1 = data [ (data ['id_group']==1 ) & (data ['flag_peak_hour']==1)]['nflag_order']

In [24]:
test_calc (r0_1, r1_1, alpha = 0.05)

Т-тест: стат.критерий = -6.422002058720224
Т-тест: pvalue = 1.429452278435098e-10
Т-тест: средние значения в выборках не равны

In [25]:
avg0_1 = data [ (data ['id_group']==0 ) & (data ['flag_peak_hour']==1)]['nflag_order'].mean()
avg0_1

0.6051008968609866

In [26]:
avg1_1 = data [ (data ['id_group']==1 ) & (data ['flag_peak_hour']==1)]['nflag_order'].mean()
avg1_1

0.6770637268082818

In [27]:
# Вывод:
# Среднее nflag_order в тестовой группе (id_group = 1) выше, как в пиковые часы, так и в непиковые часы.
# Титест показал статистическую разницу.
# Новая платежная механика повышает конвертацию в созданный заказ.

In [28]:
# Задание 3.5
# Опишите ваши результаты. Ваши выводы можно оформить внутри тетрадки .ipynb

# Среднее nflag_order в тестовой группе (id_group = 1) выше, как в пиковые часы, так и в непиковые часы.
# Новая платежная механика повышает конвертацию в созданный заказ для всей выборки в целом.
# Анализ статистически значимой разницы между тестовой и контрольной группами по городам, показал,
# что новая платежная механика повышает конвертацию в созданный заказ в трех городах:
# Казань, Москва и Санкт-Петербург